// typography, add these into new stylesheet

$h1: 35px;
$h2: 30px;
$h3: 25px;
$p: 18px;
$a: 15px;
$menu: 20px;

// font families, add these into new stylesheet

$roboto: "Roboto", sans-serif;
$fredoka: "Fredoka", sans-serif;


body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $roboto;
  h1 {
    font-size: $h1;
    font-family: $fredoka;
  }
  p{
    font-size: $p;
  }
  a {
    text-decoration: none;
    color: $headline_color;
    font-size: $a;
    font-family: $roboto;
    font-weight: bold;

  }
  a:hover {
    color: $primary_text_hover_color;
  }
 
}

